$color-btn-unable: #717171;
$color-input-invalid: #ff0000;
$color-scroll-hover: #d5d5d5;

$laptop-width: 1500px;
$big-tablet-width: 1300px;
$tablet-width: 768px;
$big-mobile-width: 600px;
$mobile-width: 500px;
