.admin-container {
  width: 100%;
  padding: 20px;
}

.admin__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}

.admin__instraction {
  margin-bottom: 8px;
}

.admin__information_bank {
  margin-bottom: 25px;
}

.admin__information_title {
  margin-bottom: 15px;
  font-size: 24px;
}

.admin__information_detail {
  margin-bottom: 10px;
  padding-left: 15px;
}

.admin__users,
.admin__user {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.admin__users_buttons,
.admin__user_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.admin__user_info {
  padding-bottom: 10px;
  text-align: left;
}

.blocked {
  height: 24px;
  width: 24px;
}

.admin__user_operations-title {
  margin-bottom: 15px;
}

.admin__users_table,
.admin__user_operations {
  margin-bottom: 20px;
  width: 768px;
  border: 2px $third solid;
}

.admin__users_user {
  cursor: pointer;
}

.user-cancel,
.user-create,
.admin__information_button,
.admin__user_button-lock,
.admin__user_button-remove,
.admin__user_button-back {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  border-width: 0px;
  color: #fffffc;
  background-color: #d8c307;
  cursor: pointer;
  transition: 0.2s;
}

.admin__remove_question,
.admin__remove,
.admin__buttons {
  text-align: left;
  margin-bottom: 15px;
}

#rem-password {
  width: 250px;
  height: 25px;
  border-radius: 6px;
  border: 1px #d8c307 solid;
}

.admin__remove_button-submit,
.admin__remove_button-cancel {
  width: 100px;
}

.admin__remove_button-submit {
  margin-right: 45px;
}

.auth__container-center {
  margin: 0 auto;
}

@media (max-width: 1040px) {
  .admin__users,
  .admin__user {
    max-width: 500px;
  }

  .admin__users_table,
  .admin__user_operations {
    width: 500px;
    font-size: 15px;
  }

  .admin__user_button-lock,
  .admin__user_button-remove,
  .admin__user_button-back {
    width: 120px;
  }
}

@media (max-width: 550px) {
  .admin-container {
    padding: 5px;
  }

  .admin__users,
  .admin__user {
    max-width: 310px;
  }

  .admin__users_table,
  .admin__user_operations {
    width: 310px;
    font-size: 11px;
  }

  .admin__user_button-lock,
  .admin__user_button-remove,
  .admin__user_button-back {
    width: 100px;
  }
}