.stat {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 20px;

  &__operation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 1px $third dotted;
    &-p {
      margin: 3px 0;
    }
  }
}