.operation {
  width: 100%;
  padding: 20px;

  @include media-tablet {
    padding-top: 0;
  }

  .back {
    border-bottom: solid 1px $third;
    padding-bottom: 5px;
    margin-bottom: 8px;

    &__btn {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      opacity: .7;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        opacity: 1;
      }
    }

    &__arrow {
      display: inline-block;
      width: 50px;
      height: 50px;
      background-image: url(../assets/img/icons/arrow_back.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 5px;
    }

    &__text {
      font-size: 16px;
    }
  }

  &__info {
    display: flex;
    padding: 10px 0px;
  }

  &__img {
    width: 50px;
    height: 50px;
    background-color: $third;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }

  &__title {
    font-size: 20px;
  }

  &__category-text {
    margin-right: 5px;
  }

  &__block {
    display: flex;
    //justify-content: space-between;
    gap: 50px;

    .rates-table {
      &__th {
        padding: 5px;
        width: 100px;
      }

      &__td {
        width: 100px;
      }

      &__loading {
        display: flex;
        flex-direction: column;
        max-height: 60px;
      }

      &__tr {
        &:hover {
          background: $third;
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-block {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative;

    }
  }

  &__currency {
    position: absolute;
    top: 31px;
    left: 220px;
    width: 22px;
    height: 22px;
    background: url(../assets/img/icons/dollar.svg) 50% 0%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__exch-rates {
    max-height: 400px;
    min-width: 300px;
  }

  &__exch-rates-table {
    border: 2px $third solid;
  }

  &__commission,
  &__commission-exch {
    margin-bottom: 20px;
  }

  .form-paym {
    
    &__label {
      margin-bottom: 5px;
    }

    &__input {
      padding: 6px 12px;
      border: solid 2px $third;
      border-radius: 8px;
      font-size: 18px;
      width: 250px;

      &.invalid {
        border: solid 2px $color-input-invalid;
      }
    }

    &__btn.btn-colored,
    &__btn-card.btn-colored {
      width: 250px;
      height: auto;
      padding: 5px 0;
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase;
  
      &.unable {
        background-color: $color-btn-unable;
        cursor: default;
  
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.page-dark .operation{
  .form-paym__input {
    background-color: $black;
    color: $white;

    &:is(:-webkit-autofill, :-webkit-autofill:focus) {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }
}

@media screen and (max-width: 880px) {
  .operation{
    &__block {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
}
